<div>
<!--  <nav class="navbar navbar-expand navbar-dark bg-dark">-->
<!--    <div class="navbar-nav mr-auto">-->
<!--      <li class="nav-item">-->
<!--        <a routerLink="employees" class="nav-link">Список Сотрудников</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a routerLink="add-employees" class="nav-link">Добавить Сотрудника</a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a routerLink="positions" class="nav-link">Список должностей</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a routerLink="add-position" class="nav-link">Добавить должность</a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a routerLink="departments" class="nav-link">Список подразделений</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a routerLink="add-department" class="nav-link">Добавить подразделение</a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a routerLink="employees-details" class="nav-link">Список инфромациионых карт сотрудников</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a routerLink="add-employees-details" class="nav-link">Добавить инфромациионые карты сотрудников</a>-->
<!--      </li>-->
<!--    </div>-->
<!--  </nav>-->

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
